[DEFAULT]
# Backend for log parsing - systemd is required on RHEL 9
# because SSH logs to journald, not /var/log/secure

backend: systemd
bantime = {{ hardening_fail2ban_bantime }}
findtime = {{ hardening_fail2ban_findtime }} 
maxretry = {{ hardening_fail2ban_maxretry }}
ignoreip = {{ hardening_fail2ban_ignoreip | join(' ') }} {{ ansible_facts['default_ipv4']['address'] }}

[sshd]
enabled = true
port = ssh
filter = sshd
logpath = journal
backend = systemd 
